{% extends "base.html" %}

{% block content %}
    <h3>movie.json</h3>
    
    <div class="row">
    {% for movie in movie_data %}
        <div class="col-sm-3 mt-3">
        <div class="card">
            <img src="{{ movie.poster}}">
            <div class="card-body">
            <h5>{{ movie.title}}</h5>
            <p>{{ movie.year}}</p>
            </div>
        </div>
        </div>
    {% endfor %}
    </div><br>
    <p><strong>orginal json data:</strong> <br> {{ datas }}</p>
{% endblock %}