{% extends "base.html" %}

{% block content %}
    <h3>値の表示 from flask</h3>
    <p>値１：{{ values.val1 }}</p>
    <p>値２：{{ values.val2 }}</p>
    <hr>
    <h4>for文での表示</h4>
    {% for key, value in values.items() %}
    <p>{{ key }}=>{{ value }}</p>
    {% endfor %}
    <hr>
    <div id="app">
      <h2> { message } </h2>
      <div class="row">
        <div class="card col-sm-3 mb-3" v-for="result, index in results":key='index'>
          <img :src="result.Poster">
          { result.Title }
        </div>
      </div>    
    </div><br>
    <div id="task">
        <input type='text' class='form-control w-50 mb-3' v-model="task">
        <P>{ task }</P>
        <div class="card w-25 mb-3" v-for="result in results":key='index'>
          <div class="card-body">
            <p>都道府県：{ result.address1 }</p>
            <p>市区町村：{ result.address2 }</p>
            <p>区域：{ result.address3 }</p>
            <p>都道府県コード：{ result.prefcode }</p>
          </div>
        </div>
        { results }
    </div><br>

{% endblock %}